<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Cards</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>  
    <div class="search">
        <input type="text" id="searchInput" placeholder="Search posts...">
        <button>Search</button>
    </div>
    <div class="blog_container">
        <% data.forEach(function(post) { %>
            <a href="/post/<%= post._id %>">
                <div class="blog_card" data-categories="<%= post.categories.join(',') %>">
                    <img src="<%= post.image %>" alt="Blog Image">
                    <h2><%= post.title %></h2>
                    <div class="category_button"><%= post.categories.join(', ') %></div>
                    <p><%= post.content %></p>
                </div>
            </a>
        <% }); %>
    </div>
    <script src="script.js"></script>
</body>

</html>
